

.contact {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap; 

}


.contact .leftSide {
  flex: 50%;
  height: 100%;
}



.contact .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
}


form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  padding: 0;
}

form label {
  margin-top: 15px;
  color: grey;
  font-weight: bold;
}

form input,
form textarea {
  margin-top: 5px;
  padding: 8px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #121619;
  font-size: 16px;
  color: black;
  background: transparent;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom: 2px solid #121619;
}

form textarea {
  resize: none;
  height: 100px;
}

form button {
  margin-top: 40px;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #121619;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #333;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact .leftSide,
  .contact .rightSide {
    flex: 100%;
    height: 50vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact .rightSide {
    justify-content: flex-start;
    padding-top: 30px;
  }

  .contact .rightSide h1 {
    font-size: 36px;
  }

  form textarea {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .contact .rightSide h1 {
    font-size: 28px;
  }

  form button {
    width: 100%;
  }
}
